<section class="events-section bg-grey bd-bottom padding">
  <div class="container">
    <div class="section-heading text-center mb-40">
      <h2>Upcoming Events</h2>
      <span class="heading-border"></span>
      <p>
        Help today because tomorrow you may be the one who <br />
        needs more helping!
      </p>
    </div>
    <div id="event-carousel" class="events-wrap owl-Carousel">
      <div class="events-item">
        <div class="event-thumb">
          <img src="images/events-1.jpg" alt="events" />
        </div>
        <div class="event-details">
          <h3>Let's talk about the poor children.</h3>
          <div class="event-info">
            <p><i class="ti-calendar"></i>Started On: 12:00 PM.</p>
            <p><i class="ti-location-pin"></i>Grand Mahal, Dubai 2100.</p>
          </div>
          <p>
            Help today because tomorrow you may be the one who needs more
            helping!
          </p>
          <a href="#" class="default-btn">Read More</a>
        </div>
      </div>
      <div class="events-item">
        <div class="event-thumb">
          <img src="images/events-2.jpg" alt="events" />
        </div>
        <div class="event-details">
          <h3>Insure clean water to everyone in Africa.</h3>
          <div class="event-info">
            <p><i class="ti-calendar"></i>Started On: 12:00 PM.</p>
            <p><i class="ti-location-pin"></i>Grand Mahal, Dubai 2100.</p>
          </div>
          <p>
            Help today because tomorrow you may be the one who needs more
            helping!
          </p>
          <a href="#" class="default-btn">Read More</a>
        </div>
      </div>
      <div class="events-item">
        <div class="event-thumb">
          <img src="images/events-3.jpg" alt="events" />
        </div>
        <div class="event-details">
          <h3>Nepal Earthquake Clean Water Initiative.</h3>
          <div class="event-info">
            <p><i class="ti-calendar"></i>Started On: 12:00 PM.</p>
            <p><i class="ti-location-pin"></i>Grand Mahal, Dubai 2100.</p>
          </div>
          <p>
            Help today because tomorrow you may be the one who needs more
            helping!
          </p>
          <a href="#" class="default-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial-section bd-bottom padding">
  <div class="container">
    <div class="section-heading text-center mb-40">
      <h2>What People Say</h2>
      <span class="heading-border"></span>
      <p>
        Help today because tomorrow you may be the one who <br />
        needs more helping!
      </p>
    </div>
    <div
      id="testimonial-carousel"
      class="testimonial-carousel owl-carousel"
    >
      <div class="testimonial-item">
        <p>
          The secret to happiness lies in helping others. Never
          underestimate the difference YOU can make in the lives of the
          poor, the abused and the helpless.
        </p>
        <div class="testi-footer">
          <img src="images/team-1.jpg" alt="profile" />
          <h4>Jonathan Smith <span>Marketer</span></h4>
        </div>
      </div>
      <div class="testimonial-item">
        <p>
          The secret to happiness lies in helping others. Never
          underestimate the difference YOU can make in the lives of the
          poor, the abused and the helpless.
        </p>
        <div class="testi-footer">
          <img src="images/team-2.jpg" alt="profile" />
          <h4>Angelina Rose <span>Designer</span></h4>
        </div>
      </div>
      <div class="testimonial-item">
        <p>
          The secret to happiness lies in helping others. Never
          underestimate the difference YOU can make in the lives of the
          poor, the abused and the helpless.
        </p>
        <div class="testi-footer">
          <img src="images/team-3.jpg" alt="profile" />
          <h4>Taylor Swift <span>Developer</span></h4>
        </div>
      </div>
      <div class="testimonial-item">
        <p>
          The secret to happiness lies in helping others. Never
          underestimate the difference YOU can make in the lives of the
          poor, the abused and the helpless.
        </p>
        <div class="testi-footer">
          <img src="images/team-4.jpg" alt="profile" />
          <h4>Michel Brown <span>Programer</span></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-section bg-grey bd-bottom padding">
  <div class="container">
    <div class="section-heading text-center mb-40">
      <h2>Recent Stories</h2>
      <span class="heading-border"></span>
      <p>
        Help today because tomorrow you may be the one who <br />
        needs more helping!
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12 xs-padding">
        <div class="blog-items grid-list row">
          <div class="col-md-4 padding-15">
            <div class="blog-post">
              <img src="images/home-blog-1.jpg" alt="blog post" />
              <div class="blog-content">
                <span class="date"
                  ><i class="fa fa-clock-o"></i> January 01.2021</span
                >
                <h3><a href="#">The History of Donation Told</a></h3>
                <p>
                  The secret to happiness lies in helping others. Never
                  underestimate the difference YOU can make in the lives of
                  the poor, the abused and the helpless.
                </p>
                <a href="#" class="post-meta">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 padding-15">
            <div class="blog-post">
              <img src="images/home-blog-2.jpg" alt="blog post" />
              <div class="blog-content">
                <span class="date"
                  ><i class="fa fa-clock-o"></i> January 01.2021</span
                >
                <h3><a href="#">Help the Comunity</a></h3>
                <p>
                  The secret to happiness lies in helping others. Never
                  underestimate the difference YOU can make in the lives of
                  the poor, the abused and the helpless.
                </p>
                <a href="#" class="post-meta">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 padding-15">
            <div class="blog-post">
              <img src="images/home-blog-3.jpg" alt="blog post" />
              <div class="blog-content">
                <span class="date"
                  ><i class="fa fa-clock-o"></i> January 01.2021</span
                >
                <h3><a href="#">Charity Ever Rule the World?</a></h3>
                <p>
                  The secret to happiness lies in helping others. Never
                  underestimate the difference YOU can make in the lives of
                  the poor, the abused and the helpless.
                </p>
                <a href="#" class="post-meta">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>