<section class="slider-section">
  <div class="slider-wrapper">
    <div id="main-slider" class="nivoSlider">
      <img src="images/slider-1.jpg" alt="" title="#slider-caption-1" />
      <img src="images/slider-2.jpg" alt="" title="#slider-caption-2" />
      <img src="images/slider-3.jpg" alt="" title="#slider-caption-3" />
    </div>
    <div id="slider-caption-1" class="nivo-html-caption slider-caption">
      <div class="display-table">
        <div class="table-cell">
          <div class="container">
            <div class="slider-text">
              <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
              <h1 class="wow cssanimation leFadeInRight sequence">
                Better Life for People
              </h1>
              <p class="wow cssanimation fadeInTop" data-wow-delay="1s">
                Help today because tomorrow you may be the one who needs
                helping! <br />Forget what you can get and see what you can
                give.
              </p>
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                >Join With Us</a
              >
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                >Donet Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="slider-caption-2" class="nivo-html-caption slider-caption">
      <div class="display-table">
        <div class="table-cell">
          <div class="container">
            <div class="slider-text">
              <h1
                class="wow cssanimation fadeInTop"
                data-wow-delay="1s"
                data-wow-duration="800ms"
              >
                Together we <br />can make a Difference
              </h1>
              <p class="wow cssanimation fadeInBottom" data-wow-delay="1s">
                Help today because tomorrow you may be the one who needs
                helping! <br />Forget what you can get and see what you can
                give.
              </p>
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                >Join With Us</a
              >
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                >Donet Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="slider-caption-3" class="nivo-html-caption slider-caption">
      <div class="display-table">
        <div class="table-cell">
          <div class="container">
            <div class="slider-text">
              <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
              <h1
                class="wow cssanimation lePushReleaseFrom sequence"
                data-wow-delay="1s"
              >
                Give a little. Change a lot.
              </h1>
              <p class="wow cssanimation fadeInTop" data-wow-delay="1s">
                Help today because tomorrow you may be the one who needs
                helping! <br />Forget what you can get and see what you can
                give.
              </p>
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                >Join With Us</a
              >
              <a
                href="#"
                class="default-btn wow cssanimation fadeInBottom"
                data-wow-delay="0.8s"
                >Donet Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="promo-section bd-bottom">
  <div class="promo-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 xs-padding">
          <div class="promo-content">
            <img src="images/icon-1.png" alt="prmo icon" />
            <h3>Make Donetion</h3>
            <p>
              Help today because tomorrow you may be the one who needs
              helping!
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 xs-padding">
          <div class="promo-content">
            <img src="images/icon-2.png" alt="prmo icon" />
            <h3>Fundrising</h3>
            <p>
              Help today because tomorrow you may be the one who needs
              helping!
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 xs-padding">
          <div class="promo-content">
            <img src="images/icon-3.png" alt="prmo icon" />
            <h3>Become A Volunteer</h3>
            <p>
              Help today because tomorrow you may be the one who needs
              helping!
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="causes-section bg-grey bd-bottom padding">
  <div class="container">
    <div class="section-heading text-center mb-40">
      <h2>Recent Causes</h2>
      <span class="heading-border"></span>
      <p>
        Help today because tomorrow you may be the one who <br />
        needs more helping!
      </p>
    </div>
    <div class="causes-wrap row">
      <div class="col-md-4 xs-padding">
        <div class="causes-content">
          <div class="causes-thumb">
            <img src="images/causes-1.jpg" alt="causes" />
            <a href="#" class="donate-btn"
              >Donate Now<i class="ti-plus"></i
            ></a>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span class="wow cssanimation fadeInLeft">25%</span>
              </div>
            </div>
          </div>
          <div class="causes-details">
            <h3>First charity activity of this summer.</h3>
            <p>
              Help today because tomorrow you may be the one who needs more
              helping!
            </p>
            <div class="donation-box">
              <p><i class="ti-bar-chart"></i>Goal: $45000</p>
              <p><i class="ti-thumb-up"></i>Raised: $5000</p>
            </div>
            <a href="#" class="read-more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 xs-padding">
        <div class="causes-content">
          <div class="causes-thumb">
            <img src="images/causes-2.jpg" alt="causes" />
            <a href="#" class="donate-btn"
              >Donate Now<i class="ti-plus"></i
            ></a>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 45%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span class="wow cssanimation fadeInLeft">45%</span>
              </div>
            </div>
          </div>
          <div class="causes-details">
            <h3>Big charity: build school for poor children.</h3>
            <p>
              Help today because tomorrow you may be the one who needs more
              helping!
            </p>
            <div class="donation-box">
              <p><i class="ti-bar-chart"></i>Goal: $45000</p>
              <p><i class="ti-thumb-up"></i>Raised: $5000</p>
            </div>
            <a href="#" class="read-more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 xs-padding">
        <div class="causes-content">
          <div class="causes-thumb">
            <img src="images/causes-3.jpg" alt="causes" />
            <a href="#" class="donate-btn"
              >Donate Now<i class="ti-plus"></i
            ></a>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 75%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span class="wow cssanimation fadeInLeft">75%</span>
              </div>
            </div>
          </div>
          <div class="causes-details">
            <h3>Building clean-water system for rural poor.</h3>
            <p>
              Help today because tomorrow you may be the one who needs more
              helping!
            </p>
            <div class="donation-box">
              <p><i class="ti-bar-chart"></i>Goal: $45000</p>
              <p><i class="ti-thumb-up"></i>Raised: $5000</p>
            </div>
            <a href="#" class="read-more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-section bd-bottom shape circle padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 xs-padding">
        <div class="profile-wrap">
          <img class="profile" src="images/profile.jpg" alt="profile" />
          <h3>
            Jonathan Smith <span>CEO &amp; Founder of Charitify.</span>
          </h3>
          <p>
            The secret to happiness lies in helping others. Never
            underestimate the difference YOU can make in the lives of the
            poor, the abused and the helpless.
          </p>
          <img src="images/sign.png" alt="sign" />
        </div>
      </div>
      <div class="col-md-8 xs-padding">
        <div class="about-wrap row">
          <div class="col-md-6 xs-padding">
            <img src="images/history.jpg" alt="about-thumb" />
            <h3>Our History</h3>
            <p>
              The secret to happiness lies in helping others. Never
              underestimate the difference YOU can make in the lives of the
              poor.
            </p>
            <a href="#" class="default-btn">Read More</a>
          </div>
          <div class="col-md-6 xs-padding">
            <img src="images/mission.jpg" alt="about-thumb" />
            <h3>Our Mission</h3>
            <p>
              The secret to happiness lies in helping others. Never
              underestimate the difference YOU can make in the lives of the
              poor.
            </p>
            <a href="#" class="default-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="campaigns-section bd-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 xs-padding">
        <div class="campaigns-wrap">
          <h4>Featured Campaigns</h4>
          <h2>Featured project to built a School.</h2>
          <p>
            The secret to happiness lies in helping others. Never
            underestimate the difference YOU can make in the lives of the
            poor, the abused and the helpless.
          </p>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 35%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="wow cssanimation fadeInLeft">35%</span>
            </div>
          </div>
          <div class="donation-box">
            <h3><i class="ti-bar-chart"></i>Goal: $450000</h3>
            <h3><i class="ti-thumb-up"></i>Raised: $55000</h3>
          </div>
          <a href="#" class="default-btn">Donate Now</a>
        </div>
      </div>
      <div class="col-md-6 xs-padding">
        <div class="video-wrap">
          <img src="images/video.jpg" alt="video" />
          <div class="play">
            <a
              class="img-popup"
              data-autoplay="true"
              data-vbtype="video"
              href="https://www.youtube.com/watch?v=_IlLwfC2dNc"
              ><i class="ti-control-play"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>